body{
    background-color: #F2FCF5;
}

.navbar-personalizado{
    background-color: #D9EDDF;
}

.score{
    position: fixed;
    top: 70px; /* Cambia esta propiedad para establecer la posición vertical */
    left: 10px; /* Cambia esta propiedad para establecer la posición horizontal */
    width: 100px; /* Cambia esta propiedad para establecer el ancho del div */
    height: 60px; /* Cambia esta propiedad para establecer la altura del div */
    background-color: #91BFD9; 
    text-align: center;
    border-radius: 5px;
}

.buttons{
    /*position: relative;
    left: 550px;
    top: 70px;*/
    width: 50em;
    height: fit-content;
}

.top{
    width: 60px ;
    height: 60px;
    background-color:#76897C; 
    border-radius: 5px;
    margin-left: 20px;
    border: none;
}

.top:hover{
    background-color: #3A4A40 ;
}

.numbers{
    font-family: 'Anton', sans-serif;
}

.tiempo{
    width: 100px ;
    height: 60px;
    background-color:#3A4A40; 
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.modal-header {
    background-color: #1f2e42;
}

.modal-body {
    background-color: #414346;
}

.modal-footer {
    background-color: #606364;
}

#tablero {
    /*position: relative;
    left: 150px;
    top: 170px;*/
    
    display: grid;
    grid-template-columns: repeat(8, 50px);
    gap: 2px;
    background-color: #1f2e42;
  }

  .casilla {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #9b9b9b;
    border-radius: 5px;
    color: #a5a5a5;
    background-color: #abaaaa;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  .max-container{
    position: relative;
    top: 70px;
    width: 100%;
    
  }
  .row{
    height: fit-content;
  }