body{
    background-color: #F3F3F3;
}

.navbar-personalizado{
    background-color:#E6E6E6 ;
}

.score{
    /* position: fixed; */
    top: 70px; /* Cambia esta propiedad para establecer la posición vertical */
    left: 10px; /* Cambia esta propiedad para establecer la posición horizontal */
    width: 40%; /* Cambia esta propiedad para establecer el ancho del div */
    height: fit-content;
    /* Cambia esta propiedad para establecer la altura del div */
    background-color: #A48ABD; 
    text-align: center;
    border-radius: 5px;
}

.buttons{
    /*position: relative;
    left: 550px;
    top: 70px;*/
    width: 50em;
    height: fit-content;
}

.top{
    /* width: 25%; */
    width: max-content;
    height: 60px;
    background:#F8909B;
	/* padding: .5rem; */
    border-radius: 5px;
    /* margin-left: 20px; */
    border: 4px solid;
    border-radius: 6px;
	border-bottom-color: #c58087;
	border-left-color:  #f8bdc3;
	border-right-color:  #c58087;
	border-top-color:  #f8bdc3;
  
}

.top:hover{
    background-color: rgb(208, 127, 154) ;
}
.flag{
    background-color:#7BBDBC; 
    border: 4px solid;
    border-radius: 5px;
	border-bottom-color: hsl(179, 23%, 57%);
	border-left-color:  #9fdcdb;
	border-right-color:  #77aaa9;
	border-top-color:  #9fdcdb;
}
.flag:hover{
    background-color:#649a99; 
}

.numbers{
    font-family: 'Kdam Thmor Pro', sans-serif;
    line-height: 100%;
    color: #737373;
}

.tiempo{
    width: 100%;
    height: 50px;
    background-color: #f3d7c2;
    /* border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px; */
    text-align: center;
}

.modal-header {
    background-color:#dfdddd ;
}

.modal-body {
    background-color: #F3F3F3;
}

.modal-footer {
    background-color: #E6E6E6;
}

#tablero {
    display: grid;
    background-color: #CBC8DB;
  }

.board_easy {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    gap: 2px;
}

.cell_easy {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
    background: #e1e1e1;
    border: 4px solid;
    border-radius: 5px;
	border-bottom-color: #7f7f7f;
	border-left-color:  #FFFFFF;
	border-right-color:  #7f7f7f;
	border-top-color:  #FFFFFF;
	color: rgb(251, 247, 247);
	display: inline-block;
	padding: .5rem;

    &:focus,
	&:hover {
		background-color: #9d9d9d;
	}
}

.board_normal {
    display: grid;
    grid-template-columns: repeat(16, 25px);
    gap: 2px;
}

.cell_normal {
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: #e1e1e1;
    border: 4px solid;
    border-radius: 5px;
	border-bottom-color: #7f7f7f;
	border-left-color:  #FFFFFF;
	border-right-color:  #7f7f7f;
	border-top-color:  #FFFFFF;
	color: rgb(251, 247, 247);
	display: inline-block;
	/* padding: .5rem; */

    &:focus,
	&:hover {
		background-color: #9d9d9d;
	}
}

.board_hard {
    display: grid;
    grid-template-columns: repeat(30, 25px);
    gap: 2px;
}

.cell_hard {
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    background: #e1e1e1;
    border: 4px solid;
    border-radius: 5px;
	border-bottom-color: #7f7f7f;
	border-left-color:  #FFFFFF;
	border-right-color:  #7f7f7f;
	border-top-color:  #FFFFFF;
	color: rgb(251, 247, 247);
	display: inline-block;

    &:focus,
	&:hover {
		background-color: #9d9d9d;
	}
}

  .casilla {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    background: #e1e1e1;
    border: 4px solid;
    border-radius: 5px;
	border-bottom-color: #7f7f7f;
	border-left-color:  #FFFFFF;
	border-right-color:  #7f7f7f;
	border-top-color:  #FFFFFF;
	color: rgb(251, 247, 247);
	display: inline-block;
	padding: .5rem;

    &:focus,
	&:hover {
		background-color: #9d9d9d;
	}
  }
  .max-container{
    /* position: relative;
    top: 70px; */
    /* width: 75%; */
    background-color: #E6E6E6 ;
    border-radius: 6px;
    box-shadow:2px 2px 2px 2px #9c9b9b5c ;
   
    
  }
  .row{
    height: fit-content;
  }
  .global-score{
    /* position: fixed; */
    top: 70px; /* Cambia esta propiedad para establecer la posición vertical */
    left: 89%;
    width: 60%;
    height: fit-content;
    background-color: #99C491; 
    text-align: center;
    border-radius: 5px;

  }
  .checkbox:checked{
    background-color:rgb(116, 188, 187) ;
    border: none;

  }

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  }
  
  th {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background: rgb(116, 188, 187) ;
    padding: 10px 20px;
        color: rgb(66, 92, 92) ;
  }
  th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgba(0,0,0,0.1);
  }
  
  th:first-child {
  border-top-left-radius: 5px;
  }
  th:last-child {
  border-top-right-radius: 5px;
  border-right: none;
  }
  th:first-child, td:first-child {
  padding: 7px 8px;
  }
  
  td {
    padding: 7px 20px;
    background: rgba(230,230,230,1);
    color: rgba(0, 0, 0, 0.6);
  }
  h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
  }

  .pressed {
    background: #b3b3b3;
    border: none;
    /* font-size: x-large; */
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: navy;
}

.five {
    color: darkred;
}

.six {
    color: teal;
}

.seven {
    color: purple;
}

.eight {
    color: gray;
}